<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>18/01/14 09:03:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testbase.aftermethod(org.testng.ITestResult)[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/01/14 09:03:54</td>   <td>10099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testbase.aftermethod(org.testng.ITestResult)[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/01/14 09:03:44</td>   <td>-74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testbase.beforemethod(java.lang.reflect.Method)[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/01/14 09:03:44</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testbase.beforemethod(java.lang.reflect.Method)[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>18/01/14 09:03:55</td>   <td>11225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testbase.endtest()[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&lt;&lt;endtest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/14 09:03:32</td>   <td>-11722</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase.setup()[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/14 09:03:44</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.simpletest()[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">simpletest</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/14 09:03:44</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.test1()[pri:0, instance:com.hcl.testcases.TestCase@646d64ab]">test1</td> 
  <td>main@1538399081</td>   <td></td> </tr>
</table>
