<h2>Reporter output</h2><table><tr><td><a href='E:\eclipse\ExtentProject\HackathonProj\Screenshot\blank_14_01_2018_09_03_54.png'> <img src='E:\eclipse\ExtentProject\HackathonProj\Screenshot\blank_14_01_2018_09_03_54.png' height='100' width='100'/> </a></td></tr>
</table>